.courseCard__upper {
  background-color: darkblue;
  height: 90px;
  position: relative;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.courseCard {
  width: 300px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.courseCard__middle {
  height: 190px;
  border-bottom: 1px solid #dcdcdc;
}
.courseCard__creatorPhoto {
  position: absolute;
  right: 5px;
  border-radius: 9999px;
}
.courseCard__courseName {
  font-weight: 600;
  font-size: 30px;
}
.courseCard__creatorName {
  position: absolute;
  bottom: 12px;
  font-size: 15px;
}
.courseCard__lower {
  display: flex;
  flex-direction: row-reverse;
}